@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins" sans-serif;
  -webkit-font-smoothing: antialiase;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}



@layer components {
  .max-width {
    @apply px-5 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
  }
  .nav {
    @apply text-gray-300 before:content-["."] before:text-5xl before:font-extrabold before:text-gray-400 flex flex-col hover:text-white px-3 py-2 rounded-md  text-lg font-medium transition  duration-[2000ms];
  }
  .navActive {
    @apply text-gray-300 before:content-["."] before:text-5xl before:font-extrabold before:text-purple-400 flex flex-col hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-[2000ms];
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 70px solid rgba(192, 132, 252, 1);
}

.articles-grid {
  /* perspective: 800px; */
  transform: rotateY(-35deg) scale(0.5);
  /* transform-style: preserve-3d; */
}

/* Tabs Styles */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  /* background: white; */

  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(192 132 252);
}

/* button {
  border: none;
} */
.content-tabs {
  flex-grow: 1;
}
.content {
  /* background: gray; */
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
