@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 70px solid rgba(192, 132, 252, 1);
}
.arrow2 {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 70px solid rgba(192, 132, 252, 1);
}

.articles-grid {
  /* perspective: 800px; */
  transform: rotateY(-35deg) scale(0.5);
  /* transform-style: preserve-3d; */
}
